

body{
  background: #14924c;
}
img{
  position: absolute;
  width: 100%;
  z-index: 1;
}

body > div > div{
justify-content: center;
align-content: center;

}

body > div > div{
  z-index: 2;
  justify-content: center;
  align-content: center;
}

body > div > div > div:nth-child(5){
  display: grid;
  justify-content: center;
  align-content: center;
  z-index: 1;
  margin-top: -5%;

}

#villa{
  height: 71%;
      width: 63%;
      margin-left: 24%;
      margin-top: 22%;

}
@media (max-width:575px) {

  body > div > div > div:nth-child(5) > audio{
    width: 57vw;
  }

  body > div > div > div:nth-child(5){
    margin-top: -10%;
    margin-left: 7%;

  }
}

@media (min-width:768px)
{
  #villa{
    height: 78%;
    width: 62%;
    margin-left: 24%;
    margin-top: 15%;
  }
  body > div > div > div:nth-child(5){
    margin-top: -3%;
  }
}

@media (min-width: 576px){
  #villa{
    height: 95%;
    width: 63%;
    margin-left: 22%;
    margin-top: 10%;

  }
  body > div > div > div:nth-child(5) {
    margin-top: 2%;
    margin-left: 9%;
}

@media (min-width: 992px){
  #villa{
    height: 86%;
    width: 85%;
    margin-left: 9%;
    margin-top: 16%;

  }
  body > div > div > div:nth-child(5) {
    margin-top: -1%;
      margin-left: 3%;

}
}
